@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Play');

* {
  margin: 0 0;
}

body {
  background-color: white;
  color: black;
  font-family: 'Play', 'Bungee Shade', 'Bungee', serif;
}

h2 {
  font-size: 25px;
  font-family: "Bungee";
}

.App {
  text-align: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(17,17,17, .9);
  position: fixed;
  width: 100%;
  font-size: 12px;
  font-family: "Bungee";
  height: 70px;
  z-index: 2;
}

.navbar li {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.navbar li.navbar-name {
  margin-left: 60px;
  float: left;
}

.navbar li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color .5s;
}

.navbar li span:hover {
  color: rgb(0, 135, 214);
  text-shadow: 3px 3px #000000;
  cursor: pointer;
}

.header-hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1) ),url('./40037139-programming-wallpapers.jpg') center center no-repeat fixed;
  background-size: cover;
  color: white;
}

.portfolio-button {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  color:white;
}

.portfolio-button:hover {
  cursor: pointer;
  color: rgba(220, 220, 220, 1);
  text-decoration: unset;
}

.header-hero-title {
  font-size: 50px;
  font-family: 'Bungee Shade';
}

.header-hero-description {
  font-family: 'Bungee';
}

#aboutme {
  position: relative;
  top: -100px;
}

.about-me {
  width: 100vw;
  font-size: 14px;
}

.about-me h2 {
  font-size: 25px;
  font-family: "Bungee";
}

.container {
  width: 60%;
  margin: 0 auto;
}

.timeline {
  width: 90%;
  margin: 0 auto;
}

#timeline-svg {
  width: 100%;
  height: 100px;
  fill: none;
}

.timeline-circle {
  stroke: black;
  fill: black;
  transition: all 0.50s;
}

.timeline-circle:hover {
  fill: rgb(0, 135, 214);
  stroke: rgb(0, 135, 214);
  cursor: pointer;
}

.timeline-circle-active {
  fill: rgb(0, 135, 214);
  stroke: rgb(0, 135, 214);
}

.timeline-line {
  stroke: black;
  fill: black;
  stroke-width: 2px;
}

.timeline-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 50px;
}

.timeline-img {
  width: 200px;
  height: 200px;
  box-shadow: 7px 7px 50px #888;
  border-radius: 20px;
  border: 1px solid #888;
  background-size: cover;
}

.timeline-img-0 {
  background-image: url('./9941654_G.jpg');
}

.timeline-img-1 {
  background-image: url('./gillware.jpg');
}

.timeline-img-2 {
  background-image: url('./storagecraft.png');
}

.timeline-description {
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}

.contact-me {
  height: 30vh;
  width: 100vw;
  font-size: 20px;
  background-color: #111;
  text-align: left;
  color: white;
}

.contact-me h2 {
  text-align: center;
  font-size: 25px;
  font-family: "Bungee";
}

.contact-me-section {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 30px;
}

.highlight {
  color: white;
  transition: color .5s;
}

.highlight:hover {
  color: rgb(0, 135, 214);
  cursor: pointer;
}

.project {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 20px;
}

.project:last-child {
  margin-bottom: 20px;
}

.project-description {
  width: 50%;
  text-align: left;
  font-size: 18px;
  margin: auto 0;
  line-height: 25px;
}

.project-img {
  width: 30%;
}

.projectsv2-wrapper {
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.projectv2-image {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 15px;
  border: 3px solid rgba(0,0,0,0);
  opacity: .6;
  transition: all .30s;
}
.projectv2-image:hover {
  border: 3px solid rgb(82, 168, 218);
  opacity: 0.8;
}

.projectv2-image-selected {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 15px;
  border: 3px solid rgb(0, 135, 214);
}

.projectv2-description {
  margin: 20px auto 0px auto;
  font-size: 18px;
  line-height: 25px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.project-img img {
  width: 300px;
  height: 150px;
  margin-top: 15px;
  box-shadow: 7px 7px 50px #888;
}

.projectv2-things-used {

  text-align: left;
  padding: 10px;
}

.projectv2-description-text {
  padding: 10px;
  text-align: left;
  
}

.projectsv2-container {
  margin: 40px auto 0px auto;
  width: 60%;
}

.inverse {
  background-color: #111;
  color: white;
}

.projectsv2  {
  padding-top: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.header-hero-learn-more-hidden {
  opacity: 0;
  transition: all 2.5s;
}
.header-hero-learn-more {
  opacity: 1;
  transition: opacity 2.5s;

}

.skills-list {
  list-style-type: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
  font-size: 20px;
}

.skills {
  margin-bottom: 40px;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0,0,0,.5);
}

hr.inverse {
  height: 12px;
  border: 0;
  box-shadow: inset 0 17px 12px -12px rgba(255,255,255,.5);
}