@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Play');

* {
  margin: 0 0;
}

body {
  background-color: white;
  color: black;
  font-family: 'Play', 'Bungee Shade', 'Bungee', serif;
}

.App {
  text-align: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(17,17,17, .9);
  position: fixed;
  width: 100%;
  font-size: 12px;
  font-family: "Bungee";
  height: 70px;
  
}

.navbar li {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.navbar li.navbar-name {
  margin-left: 60px;
  float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color .5s;
}

li span:hover {
  color: rgb(0, 135, 214);
  text-shadow: 3px 3px #000000;
  cursor: pointer;
}

.header-hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-flow: column;
  justify-content: center;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('./40037139-programming-wallpapers.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.portfolio-button {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 18px;
  border-radius: 4px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
  color:white;
}

.portfolio-button:hover {
  cursor: pointer;
  color: rgba(220, 220, 220, 1);
  text-decoration: unset;
}

.header-hero-title {
  font-size: 50px;
  font-family: 'Bungee Shade';
}

.header-hero-description {
  font-family: 'Bungee';
}

#aboutme {
  position: relative;
  top: -100px;
}

.about-me {
  height: 50vh;
  width: 100vw;
  font-size: 14px;
}

.about-me h2 {
  font-size: 25px;
  font-family: "Bungee";
}

.container {
  width: 60%;
  margin: 0 auto;
}

.timeline {
  width: 90%;
  margin: 0 auto;
}

#timeline-svg {
  width: 100%;
  height: 100px;
  fill: none;
}

.timeline-circle {
  stroke: black;
  fill: black;
  transition: all 0.50s;
}

.timeline-circle:hover {
  fill: rgb(0, 135, 214);
  stroke: rgb(0, 135, 214);
  cursor: pointer;
}

.timeline-circle-active {
  fill: rgb(0, 135, 214);
  stroke: rgb(0, 135, 214);
}

.timeline-line {
  stroke: black;
  fill: black;
  stroke-width: 2px;
}

.timeline-img {
  float: left;
}
.timeline-description {
  font-size: 16px;
}

.contact-me {
  height: 50vh;
  width: 100vw;
  font-size: 20px;
  background-color: #111;
  text-align: left;
  color: white;
}

.contact-me h2 {
  text-align: center;
  font-size: 25px;
  font-family: "Bungee";
}